* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.card {
    align-items: center;
    color: white;
    text-transform: uppercase;
    margin: 20px;

    span {
        padding-left: 10px;
    }
}